<div class="bg-light w-75">
  <div class="row">
    <select-filter class="col" field="Distribution" [values]="availableDistributions" [(selected)]="selectedDistributions"></select-filter>
    <select-filter class="col" field="Zustand" [values]="availableStates" [(selected)]="selectedStates"></select-filter>
    <select-filter class="col" field="Target" [values]="availableTargets" [(selected)]="selectedTargets"></select-filter>
    <select-filter class="col" field="Creator" [values]="availableCreators" [(selected)]="selectedCreators"></select-filter>
  </div>
</div>
<h2>Bundle-Liste</h2>
<div class="card-columns">
  <div *ngFor="let bundle of getBundles()" [ngClass]="(bundle === highlighted) ? 'card text-white bg-info' : 'card border-info'" (click)="navigateTo(bundle)" (mouseover)="highlighted = bundle" (mouseleave)="highlighted = null">
    <div class="card-header">
      <i [ngClass]="bundle.readonly ? 'fa fa-lock mr-2' : 'fa fa-unlock mr-2'" style="font-size: x-large" aria-hidden="true"></i>
      <b> {{ bundle.name }}</b> --> [{{ bundle.target }}]
    </div>
    <div>Subject: {{ bundle.subject }}</div>
    <div>Creator: {{ bundle.creator }}</div>
  </div>
</div>
