*.pyc
.*.swp
.secretToken
.allowedTokenHashes
.dir-locals-2.el
/.angulardoc.json
/build
/.pybuild
/.vscode
/.npm
/.npm-packages
/.config
/docker-buildenv/.buildenv.built
/docker-buildenv/.buildenv-debian.built
/docker-buildenv/debian_control
/docker-buildenv/*apt-repos*.deb
/docker-backend/built
/reprepro-bundle-tools-build-deps_0.0.1_all.deb
/debian/.debhelper/
/debian/python3-reprepro-bundle-tools/
/debian/reprepro-bundle-apps/
/debian/reprepro-bundle-tools/
/debian/apt-add-bundle/
/debian/*.debhelper
/debian/*.debhelper.log
/debian/*.substvars
/debian/files
/debian/tmp/
/deb/
