*.pyc
.*.swp
/.angulardoc.json
/build
/.pybuild
/.vscode
debian/.debhelper/
debian/python3-reprepro-bundle-tools.debhelper.log
debian/python3-reprepro-bundle-tools.postinst.debhelper
debian/python3-reprepro-bundle-tools.prerm.debhelper
debian/python3-reprepro-bundle-tools.substvars
debian/python3-reprepro-bundle-tools/
debian/reprepro-bundle-app.debhelper.log
debian/reprepro-bundle-app.substvars
debian/reprepro-bundle-app/
debian/reprepro-bundle-compose-app.debhelper.log
debian/reprepro-bundle-compose-app.substvars
debian/reprepro-bundle-compose-app/
debian/reprepro-bundle-compose.debhelper.log
debian/reprepro-bundle-compose.substvars
debian/reprepro-bundle-compose/
debian/reprepro-bundle.debhelper.log
debian/reprepro-bundle.substvars
debian/reprepro-bundle/
debian/tmp/
