<div
  [ngClass]="'card my-2 ' + cardFormat"
  style="width: 100%"
  (mouseover)="active = true"
  (mouseleave)="active = false"
>
  <div class="card-header">
    <lib-fontawsome-toggle-button
      class="folder mr-3"
      titleOff="Show Bundles"
      titleOn="Hide Bundles"
      symbolOn="fa-folder-open"
      symbolOff="fa-folder"
      style="font-size: x-large"
      [(status)]="showContent"
      ><span class="badge-pill badge-light counter mr-3">{{
        managedBundles.length
      }}</span></lib-fontawsome-toggle-button
    >
    <b>{{ status.ord }}) {{ status.name }}</b>
    <div
      *ngIf="status.tracStatus"
      [ngClass]="
        'badge-pill float-right mx-2 ' +
        (validStage ? 'badge-light' : 'badge-info')
      "
    >
      <b
        >Trac: {{ status.tracStatus | uppercase
        }}<span *ngIf="status.tracResolution">
          as "{{ status.tracResolution }}"</span
        ></b
      ><i
        [ngClass]="
          status.override ? 'fa fa-chevron-right ml-2' : 'fa fa-lock ml-2'
        "
        aria-hidden="true"
      ></i>
    </div>
    <div
      *ngIf="status.repoSuiteTag"
      class="badge-pill badge-success float-right mx-2"
    >
      <b>Bundle-Tag: {{ status.repoSuiteTag | uppercase }}</b>
    </div>
  </div>

  <div *ngIf="showContent" class="card-body">
    <div class="row">
      <div class="col-sm">
        <h5 class="card-title">{{ status.comment }}</h5>

        <div class="card-columns">
          <app-managed-bundle-card
            *ngFor="let b of managedBundles"
            [bundle]="b.bundle"
            [info]="b.info"
            [candidateForStages]="candidateForStages"
            [dropStatus]="dropStatus"
            (markedForStage)="doMarkedForStage($event)"
            (clicked)="doClicked($event)"
          ></app-managed-bundle-card>
        </div>

        <div *ngIf="candidateForStages.length > 0">
          <div *ngFor="let newStatus of candidateForStages">
            <button class="btn btn-primary" (click)="markForStage(newStatus)">
              <b
                >Mark All These Candidates for Stage
                {{ newStatus.stage | uppercase }}</b
              >
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-1">
        <div *ngIf="validStage" class="float-right" style="font-size:larger">
          <b>Stage: {{ status.stage | uppercase }}</b>
        </div>
      </div>
    </div>
  </div>
</div>
