<h2>Bundle {{ bundlename }}</h2>
<form>
  <div class="card">
    <h4 class="card-header">Metadaten</h4>
    <div class="form-group row">
      <label for="distribution" class="col col-form-label">Distribution</label>
      <div class="col-sm-3">{{ bundle.distribution }}</div>
      <label for="basedOn" class="col col-form-label">Abgeleitet von</label>
      <div class="col-sm-3">{{ basedOn }}</div>
      <label for="creator" class="col col-form-label">Ersteller</label>
      <div class="col-sm-3">{{ bundle.creator }}</div>
    </div>
    <div class="form-group row">
      <label for="target" class="col-sm-2 col-form-label">Zielrepository</label>
      <select #targetSelect class="col-sm-2 form-control ml-3" ngModel="targetItem" (change)="selectTarget($event)">
        <option value="plus">Standard (Plus)</option>
        <option value="unattended">Unattended Security</option>
      </select>
    </div>
    <div class="form-group row">
      <label for="subject" class="col-sm-2 col-form-label">Subject</label>
      <div class="col mr-3">
        <input #inpSub type="text" class="form-control form-control-lg" id="subject" placeholder="Subject" (keyup)="bundle.subject = inpSub.value"
          [value]="bundle.subject">
      </div>
    </div>
    <div class="form-group row">
      <label for="releasenotes" class="col-sm-2 col-form-label">Releasenotes</label>
      <div class="col mr-3">
        <textarea #inpRel type="text" class="form-control" id="releasenotes" placeholder="Releasenotes" rows=15 (keyup)="releasenotes = inpRel.value"
          [value]="releasenotes"></textarea>
      </div>
    </div>
  </div>
</form>
