<div
  class="card text-dark border-secondary h-100"
  style="width: 35rem; max-width: 100%"
>
  <div class="card-header">
    <b
      >{{ bundle.id }}
      <a
        [routerLink]="['./']"
        [queryParams]="{ bid: bundle.id }"
        style="color: inherit; outline: 0;"
        ><i class="fa fa-link ml-2" style="font-size: larger;"></i
      ></a>
    </b>
    <div class="badge-pill badge-dark float-right mx-2 mt-2">
      <b>Target: {{ bundle.target | uppercase }}</b>
    </div>
    <div class="badge-pill badge-info float-right mx-2 mt-2">
      <b>Status: {{ bundle.status | uppercase }}</b>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ bundle.subject }}</h5>
    <div *ngIf="bundle.ticket">
      Delivery-Ticket:
      <b>
        <app-ticket-reference
          [ticket]="bundle.ticket"
          [tracUrl]="bundle.tracUrl"
        ></app-ticket-reference>
      </b>
    </div>
    <div *ngIf="bundle.parentTickets">
      Parent-Tickets:
      <app-parent-bundle-tree [bundle]="bundle"></app-parent-bundle-tree>
    </div>

    <div *ngIf="deps" class="mt-2">
      Replaces a package of:
      <ul>
        <app-li-bundle-info-ref
          *ngFor="let b of deps"
          [bundle]="b"
          [showParentTree]="true"
        ></app-li-bundle-info-ref>
      </ul>
    </div>
    <div *ngIf="overriddenby && overriddenby.length > 0" class="mt-2">
      Overridden by a package of:
      <ul>
        <app-li-bundle-info-ref
          *ngFor="let b of overriddenby"
          [bundle]="b"
        ></app-li-bundle-info-ref>
      </ul>
    </div>
  </div>
  <div class="card-footer">Creator: {{ bundle.creator }}</div>
</div>
