<div class="card text-dark border-secondary" style="width: 600px;">
  <div class="card-header">
    <b>{{ bundle.id }}</b>
    <div class="badge-pill badge-dark float-right mx-2">
      <b>Target: {{ bundle.target | uppercase }}</b>
    </div>
    <div class="badge-pill badge-success float-right mx-2">
      <b>Status: {{ bundle.status | uppercase }}</b>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ bundle.subject }}</h5>
    <div *ngIf="bundle.ticket && bundle.ticketUrl">
      Ticket:
      <a
        href="{{ bundle.ticketUrl }}"
        target="_blank"
        style="color: inherit; outline: 0;"
        ><b>#{{ bundle.ticket }}</b></a
      >
    </div>
    <div *ngIf="bundle.ticket && !bundle.ticketUrl">
      Ticket: <b>#{{ bundle.ticket }}</b>
    </div>
    <div>Creator: {{ bundle.creator }}</div>
  </div>
</div>
