<div
  class="card text-dark border-secondary"
  style="width: 35rem; max-width: 100%;"
>
  <div class="card-header">
    <b>{{ bundle.id }}</b>
    <div class="badge-pill badge-dark float-right mx-2 mt-2">
      <b>Target: {{ bundle.target | uppercase }}</b>
    </div>
    <div class="badge-pill badge-success float-right mx-2 mt-2">
      <b>Status: {{ bundle.status | uppercase }}</b>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ bundle.subject }}</h5>
    <div *ngIf="bundle.ticket && bundle.ticketUrl">
      Ticket:
      <a
        href="{{ bundle.ticketUrl }}"
        target="_blank"
        style="color: inherit; outline: 0;"
        ><b>#{{ bundle.ticket }}</b></a
      >
    </div>
    <div *ngIf="bundle.ticket && !bundle.ticketUrl">
      Ticket: <b>#{{ bundle.ticket }}</b>
    </div>
    <div *ngIf="deps">
      Abhängig von:
      <a
        *ngFor="let d of deps; let last = last"
        [routerLink]="['./']"
        [queryParams]="{ bid: d }"
        style="color: inherit; outline: 0;"
        >{{ d }}<span *ngIf="!last">, </span></a
      >
    </div>
  </div>
  <div class="card-footer">Creator: {{ bundle.creator }}</div>
</div>
