<div class="card border-info">
  <div class="card-header">
    <h2>
      {{ bundle.id }}
      <span
        class="badge-pill float-right mx-2 badge-dark"
        style="font-size: large;"
      >
        <b>Target: {{ bundle.target | uppercase }}</b>
      </span>
    </h2>
  </div>
  <div class="card-body">
    <h3 class="card-title">{{ info.subject }}</h3>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 pl-0">
          <div>Creator: {{ info.creator }}</div>
          <div>
            Target:
            <select
              #targetSelect
              class="ml-1"
              (change)="setTarget()"
            >
              <option
                *ngFor="let o of getTargets()"
                [value]="o.value"
                [selected]="
                  bundle.target === o.value ? 'selected' : ''
                "
                >{{ o.description }}</option
              >
            </select>
          </div>
          <div
            *ngIf="bundle.ticket && bundle.ticketUrl"
          >
            Ticket:
            <a
              href="{{ bundle.ticketUrl }}"
              target="_blank"
              style="color: inherit; outline: 0;"
              ><b>#{{ bundle.ticket }}</b></a
            >
          </div>
          <div>Status: {{ bundle.status.name | uppercase }}</div>
          <div
            *ngIf="bundle.ticket && !bundle.ticketUrl"
          >
            Ticket: <b>#{{ bundle.ticket }}</b>
          </div>
        </div>
        <div class="col" style="text-align: right;">
          <div class="container-fluid">
            <span
              *ngFor="let s of getVisibleWorkflow()"
              class="workflow"
              [ngClass]="s == hoveredStatus ? 'workflow-hovered' : ''"
              (mouseenter)="hoveredStatus = s"
              (mouseleave)="hoveredStatus = null"
              (click)="markForStatus(s)"
            >
              <img
                [src]="
                  s.name === bundle.status.name
                    ? './assets/workflow_sel.png'
                    : './assets/workflow.png'
                "
                class="my-1"
                width="160px"
              />
              <span class="workflow-label mx-2">{{
                s.name.split("_").join(" ") | uppercase
              }}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- iframe [src]="bundle.ticketUrl" frameborder="0"></iframe -->
</div>
