<div class="card border-info" *ngIf="bundle; else loadingBundleBlock">
  <div class="card-header">
    <h3>
      {{ bundle.id }}
      <span
        class="badge-pill badge-dark float-right mx-2 "
        style="font-size: large;"
      >
        <b>Target: {{ bundle.target | uppercase }}</b>
      </span>
      <span
        class="badge-pill badge-info float-right mx-2"
        style="font-size: large;"
      >
        <b>Status: {{ bundle.status.name | uppercase }}</b>
      </span>
    </h3>
  </div>
  <div class="card-body">
    <h3 class="card-title">{{ info.subject }}</h3>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 pl-0">
          <div>
            Target:
            <select #targetSelect class="ml-1" (change)="setTarget()">
              <option
                *ngFor="let o of getTargets()"
                [value]="o.value"
                [selected]="bundle.target === o.value ? 'selected' : ''"
                >{{ o.description }}</option
              >
            </select>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              [(ngModel)]="ignoreTargetFromInfoFile"
              id="cb1"
              (change)="setTarget()"
            />
            <label class="form-check-label" for="cb1">
              Ignore Target from info file
            </label>
          </div>
          <div></div>
          <div *ngIf="bundle.ticket" class="mt-4">
            <div *ngIf="bundle.ticketUrl; else elseBlock">
              Trac-Ticket:
              <a
                href="{{ bundle.ticketUrl }}"
                target="_blank"
                style="color: inherit; outline: 0;"
                ><b>#{{ bundle.ticket }}</b></a
              >
            </div>
            <ng-template #elseBlock>
              Trac-Ticket: <b>#{{ bundle.ticket }}</b>
            </ng-template>
          </div>
        </div>
        <div class="col" style="text-align: right;">
          <div class="container-fluid">
            <span
              *ngFor="let s of getVisibleWorkflow()"
              class="workflow"
              [ngClass]="s == hoveredStatus ? 'workflow-hovered' : ''"
              (mouseenter)="hoveredStatus = s"
              (mouseleave)="hoveredStatus = null"
              (click)="markForStatus(s)"
            >
              <img
                [src]="
                  s.name === bundle.status.name
                    ? './assets/workflow_sel.png'
                    : './assets/workflow.png'
                "
                class="my-1"
                width="160px"
              />
              <span class="workflow-label mx-2">{{
                s.name.split("_").join(" ") | uppercase
              }}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">Creator: {{ info.creator }}</div>
</div>
<ng-template #loadingBundleBlock>
  <h3>Loading {{ bundlename }}…</h3>
</ng-template>

<!--iframe [src]="bundle.ticketUrl" frameborder="0"></iframe-->
