#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/cdbs/1/rules/buildvars.mk

THE_PACKAGE := python3-reprepro-bundle-tools

SUBSTVARS := debian/$(THE_PACKAGE).substvars

override_dh_gencontrol:
	echo -n pkg:Description= >> $(SUBSTVARS)
	python3 setup.py --description >> $(SUBSTVARS)
	echo -n pkg:Longdescription= >> $(SUBSTVARS)
	bash -c 'shopt -o -s pipefail; python3 setup.py --long-description | pandoc --from=rst --to=plain | perl -pe "s/\n/\\\$${Newline}/g" >> $(SUBSTVARS)'
	echo >> $(SUBSTVARS)
	dh_gencontrol

override_dh_auto_build:
	HOME=$(CURDIR) npm install npm@5.5.1 @angular/cli@6.2.5
	export PATH=$(CURDIR)/node_modules/.bin:$$PATH && \
		export HOME=$(CURDIR) && \
		make -C ng-frontends/ng-bundle install all && \
		make -C ng-frontends/ng-bundle-compose install all
	dh_auto_build

override_dh_auto_install:
	dh_auto_install -ppython3-reprepro-bundle-tools --destdir=$(CURDIR)/debian/python3-reprepro-bundle-tools
	dh_auto_install -preprepro-bundle-tools
	dh_auto_install -preprepro-bundle-apps

override_dh_install:
	dh_install --exclude=__pycache__

override_dh_auto_test:
	make -C test

%:
	dh $@ --with config-package --without python-support --with python3 --buildsystem=pybuild

