<div class="card bg-info">
  <h1 class="card-header">
    Bundle-Übersicht und Suche
  </h1>
</div>

<div>
  <span *ngFor="let dist of distSet.keys()"
    >{{ dist }} ({{ distSet.get(dist) }})
  </span>
  <span *ngFor="let status of statusSet.keys()"
    >{{ status | uppercase }} ({{ statusSet.get(status) }})
  </span>
  <span *ngFor="let target of targetSet.keys()"
    >{{ target | uppercase }} ({{ targetSet.get(target) }})
  </span>
</div>

<div class="m-3">
  <p>{{ error | json }}</p>
  <div
    class="container"
    style="min-width: 10em; max-width: 55em; text-align: center;"
  >
    <input
      #search
      type="text"
      class="form-control form-control-lg"
      placeholder="Suchbegriff(e)"
      (change)="handleSearch(search.value)"
      (keyup)="handleSearch(search.value)"
    />
    {{ bundleInfos.length }} Treffer
  </div>
</div>

<div class="card-deck m-4">
  <app-bundle-info-card
    *ngFor="let info of bundleInfos"
    [bundle]="info"
    class="mt-3"
  ></app-bundle-info-card>
</div>
