<div *ngIf="bundle.parentTickets">
  <ul>
    <li *ngFor="let p of getParents()">
      <span *ngIf="!p.isDirect">Indirect </span>Parent
      <a
        *ngIf="bundle.tracUrl"
        href="{{ bundle.tracUrl }}ticket/{{ p.parent }}"
        style="color: inherit; outline: 0;"
        >#{{ p.parent }}</a
      >
      <span *ngIf="!bundle.tracUrl">#{{ p.parent }}</span>
      <ul *ngIf="p.bundles.length > 0">
        <app-li-bundle-info-ref
          *ngFor="let b of p.bundles"
          [bundle]="b"
        ></app-li-bundle-info-ref>
      </ul>
    </li>
  </ul>
</div>
