<div class="card bg-info">
  <h2 class="card-header">
    <span
      title="Back"
      routerLink="../"
      (mouseover)="hlB = true"
      (mouseleave)="hlB = false"
      [ngClass]="'badge ' + (hlB ? 'badge-secondary' : 'badge-info')"
      style="outline: none"
    >
      <i class="fa fa-chevron-left"></i
    ></span>
    Bundle-Compose-App
    <span style="float: right"
      ><button
        *ngIf="loggedIn"
        type="button"
        class="btn btn-secondary"
        (click)="logout()"
      >
        Logout
      </button></span
    >
  </h2>
</div>

<div *ngIf="logs.length > 0" class="mt-2">
  <div class="container-fluid">
    <div
      *ngFor="let log of logs; let i = index"
      [ngClass]="
        'row alert alert-dismissible fade show my-0 ' +
        (log.level === 'WARNING'
          ? 'alert-warning'
          : log.level === 'ERROR'
          ? 'alert-danger'
          : 'alert-success')
      "
      role="alert"
    >
      <div class="col col-sm-1">
        <span title="{{ log.level }} from {{ log.logger }}"
          ><strong>{{ log.level }}</strong></span
        >
      </div>
      <div class="col">
        <div *ngFor="let line of log.message.split('\n')">{{ line }}</div>
      </div>
      <button
        *ngIf="i === 0"
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        (click)="logs = []"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>

<div *ngIf="spinners.length > 0" class="container-fluid">
  <div
    *ngFor="let spinner of spinners"
    class="mt-2"
    style="text-align: center;"
  >
    <strong>{{ spinner }}</strong>
    <div class="spinner-border ml-3" role="status" aria-hidden="true"></div>
  </div>
</div>

<div class="m-3">
  <router-outlet></router-outlet>
</div>
