<div class="card bg-info">
  <div class="card-header container-fluid">
    <div class="row">
      <div class="col">
        <h2>
          <span
            title="Back"
            routerLink="../"
            (mouseover)="hlB = true"
            (mouseleave)="hlB = false"
            class="badge text-dark"
            [ngClass]="hlB ? 'badge-secondary' : 'badge-info'"
            style="outline: none"
          >
            <i class="fa fa-chevron-left"></i
          ></span>
          Bundle-Compose-App
        </h2>
      </div>
      <div
        *ngIf="sessionInfo"
        class="col"
        style="float: right; text-align: right"
      >
        <h3>
          <span *ngIf="isLink(sessionInfo.repoUrl)">
            <a [href]="sessionInfo.repoUrl" class="text-dark" target="_blank"
              >{{ sessionInfo.repoUrl | split: "/":-1 }}
            </a>
          </span>
          <span
            *ngIf="!isLink(sessionInfo.repoUrl)"
            [title]="sessionInfo.repoUrl"
          >
            {{ sessionInfo.repoUrl | split: "/":-1 }}
          </span>
          <span
            class="badge badge-pill badge-info text-dark"
            style="font-size: smaller; vertical-align: middle; border-style: solid; border-width: 1px;"
            ><i class="fa fa-code-fork"></i> {{ sessionInfo.branch }}</span
          >
        </h3>

        <lib-known-auth-badge
          *ngFor="let auth of authService.getKnownAuthentities()"
          [authId]="auth.authId"
          [user]="auth.user"
          (forget)="authService.forgetCredentials($event)"
        >
        </lib-known-auth-badge>
      </div>
      <div *ngIf="sessionInfo" class="col" style="max-width: 7em;">
        <button type="button" class="btn btn-secondary" (click)="logout()">
          Logout
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="logs.length > 0" class="mt-2">
  <div class="container-fluid">
    <div
      *ngFor="let log of logs; let i = index"
      [ngClass]="
        'row alert alert-dismissible fade show my-0 ' +
        (log.level === 'WARNING'
          ? 'alert-warning'
          : log.level === 'ERROR'
          ? 'alert-danger'
          : 'alert-success')
      "
      role="alert"
    >
      <div class="col col-sm-1">
        <span title="{{ log.level }} from {{ log.logger }}"
          ><strong>{{ log.level }}</strong></span
        >
      </div>
      <div class="col">
        <div *ngFor="let line of log.message.split('\n')">{{ line }}</div>
      </div>
      <button
        *ngIf="i === 0"
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        (click)="logs = []"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>

<div *ngIf="spinners.length > 0" class="container-fluid">
  <div
    *ngFor="let spinner of spinners"
    class="mt-2"
    style="text-align: center;"
  >
    <strong>{{ spinner }}</strong>
    <div class="spinner-border ml-3" role="status" aria-hidden="true"></div>
  </div>
</div>

<div class="m-3">
  <router-outlet></router-outlet>
</div>
