<div
  class="card text-dark"
  [ngClass]="active ? 'border-dark' : 'border-secondary'"
  (mouseover)="active = true"
  (mouseleave)="active = false"
>
  <div class="card-header" (click)="emitClicked()">
    <b [ngClass]="active ? 'btn-link' : ''">{{ info.managedBundle.id }}</b>
    <div class="badge-pill badge-dark float-right mx-2">
      <b>Target: {{ info.managedBundle.target | uppercase }}</b>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ info.subject }}</h5>
    <div *ngIf="info.managedBundle.ticket && info.managedBundle.ticketUrl">
      Ticket:
      <a
        href="{{ info.managedBundle.ticketUrl }}"
        target="_blank"
        style="color: inherit; outline: 0;"
        ><b>#{{ info.managedBundle.ticket }}</b></a
      >
    </div>
    <div *ngIf="info.managedBundle.ticket && !info.managedBundle.ticketUrl">
      Ticket: <b>#{{ info.managedBundle.ticket }}</b>
    </div>
    <div>Creator: {{ info.creator }}</div>
    <div class="row mt-2">
      <div class="col" *ngIf="dropStatus || candidateForStages.length > 0">
        <button
          *ngIf="dropStatus"
          class="btn btn-block float-right"
          [ngClass]="active ? 'btn-danger' : 'btn-light text-light'"
          (click)="markForStage(dropStatus)"
        >
          <b>Drop</b>
        </button>
      </div>
      <div class="col" *ngIf="dropStatus || candidateForStages.length > 0">
        <div *ngFor="let status of candidateForStages">
          <button
            class="btn btn-block btn-light"
            [ngClass]="active ? 'text-dark' : 'text-light'"
            (click)="markForStage(status)"
          >
            <b>Mark for Stage {{ status.stage | uppercase }}</b>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
