<div class="container-fluid">
  <div
    class="row mt-2
"
  >
    <div class="col mb-1">
      <button class="btn btn-primary mt-3" (click)="synchronizeBundles()">
        <b>Synchronize Bundle-Status</b>
      </button>
    </div>
    <select-filter
      class="col mb-1"
      field="Show Workflow Steps"
      [values]="availableWorkflow | sortedKeys"
      [counters]="availableWorkflow"
      [(selected)]="selectedWorkflow"
    ></select-filter>
    <select-filter
      class="col mb-1"
      field="Distributions"
      [values]="managedBundleService.getAvailableDistributions() | sortedKeys"
      [counters]="managedBundleService.getAvailableDistributions()"
      [(selected)]="selectedDistributions"
    ></select-filter>
    <select-filter
      class="col mb-1"
      field="Targets"
      [values]="managedBundleService.getAvailableTargets() | sortedKeys"
      [counters]="managedBundleService.getAvailableTargets()"
      [(selected)]="selectedTargets"
    ></select-filter>
    <div class="col mb-1">
      <lib-unpublished-changes
        [changes]="changesService.getVersionedChanges()"
        (undoLastChange)="actionService.undoLastChange()"
        (publish)="publishChanges()"
      ></lib-unpublished-changes>
    </div>
  </div>
</div>
<app-workflow-status-card
  class="row m-1"
  *ngFor="let status of getWorkflow()"
  [status]="status"
  [cardFormat]="getCardFormat(status)"
  [validStage]="isValidStage(status)"
  [candidateForStages]="getCandidateForStages(status)"
  [dropStatus]="getDropStatus(status)"
  [showContent]="getShowContent(status)"
  (markedForStage)="markForStage($event)"
  (clicked)="navigateTo($event)"
></app-workflow-status-card>
