<div class="row">
  <select-filter
    class="col col-sm-3"
    field="Show Workflow Steps"
    [values]="availableWorkflow"
    [(selected)]="selectedWorkflow"
  ></select-filter>
  <select-filter
    class="col col-sm-3"
    field="Distributions"
    [values]="managedBundleService.getAvailableDistributions()"
    [(selected)]="selectedDistributions"
  ></select-filter>
  <select-filter
    class="col col-sm-3"
    field="Targets"
    [values]="managedBundleService.getAvailableTargets()"
    [(selected)]="selectedTargets"
  ></select-filter>
</div>
<app-workflow-status-card
  class="row m-1"
  *ngFor="let status of getWorkflow()"
  [status]="status"
  [cardFormat]="getCardFormat(status)"
  [validStage]="isValidStage(status)"
  [managedBundleInfos]="getManagedBundleInfosForStatus(status)"
  [candidateForStages]="getCandidateForStages(status)"
  [dropStatus]="getDropStatus(status)"
  (markedForStage)="doMarkedForStage($event)"
></app-workflow-status-card>
